spacy==3.2.4
pandas==1.4.2
numpy==1.22.3
instaloader==4.9
selenium==4.1.0
beautifulsoup4==4.10.0
facebook-scraper==0.2.55
bertopic==0.9.4
networkx==2.8
node2vec==0.4.4
scikit-learn==1.0.2
kneed==0.7.0
node2vec==0.4.4